# System stuff:
.DS_Store
.vscode/settings.json

# MCU stuff:
MCU/Output
MCU/*.emSession
MCU/*.jlink
MCU/settings.json

# FPGA stuff:
FPGA/*/impl_1/*
FPGA/*/*.dir/*
FPGA/*/*.ini
FPGA/*/transcript
FPGA/*/reportview.xml
FPGA/*/*.log
FPGA/*/*tcl.html
.recovery

# Miscellaneous:
# Gabriel's naming convention for old versions of things when it's not useful to go through the Git rigmarole:
*~
